<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>productos</title>
    <!--LINKEAR FONTS DE GOOGLE-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quintessential&family=Raleway:wght@100&display=swap"
        rel="stylesheet">

    <!--CDN CSS DE BOOTSTRAP-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
    integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    
    <!--MI CSS-->
    <link rel="stylesheet" href="../css/estilo.css">

</head>

<body>
    <div class="contenedor-padre">
        <!--inicio encabezado-->

        <div class="container-fluid">
        <header>
            <!--logo-->
            <div class="logo">
                <img class="positionleft" src="../assets/img/logo.jpg" alt="logo">
            </div>
            <!--cierre logo-->

            <nav class="bg-one">
                <ul>
                    <li class="navmenu"> <a href="../index.html">HOME</a></li>
                    <li class="navmenu"> <a href="#">PRODUCTOS</a> </li>
                    <li class="navmenu"> <a href="../views/contacto.html">CONTACTO</a> </li>
                    <li class="navmenu"> <a href="../views/preguntas.html">PREGUNTAS FRECUENTES</a> </li>
                    <li class="navmenu"> <a href="../views/sobrenosotros.html">NOSOTROS</a> </li>
                </ul>
            </nav>
        </header>
        <!--cierre encabezado-->



        <!--Inicio contanido-->
        <main>
            <div class="titulo">
                <h2 class="titulo__principal">PRODUCTOS</h2>
            </div>
        
            <ul class="listatitulo row">
        
                <div class="col-lg-6 col-12">
                    <li>Fotos
                        <ul class="column">
                            <li class="sublista">Tamaño 10x15cm</li>
                            <li class="sublista">Polaroid</li>
                            <li class="sublista">Tamaño 13x18cm</li>
                        </ul>
                    </li>
                </div>
        
        
        
        
                <div class="col-lg-6 col-12">
                    <li>Tags
                        <ul class="column">
                            <li class="sublista">Tamaño 5x6cm</li>
                            <li class="sublista">Tamaño 5x10cm</li>
                            <li class="sublista">Tamaño 8x15cm</li>
                        </ul>
                    </li>
                </div>
        

    


            </ul>



        </main>
        <!--Cierre contenido-->



        <!--Inicio footer-->
        <footer>
        
            <!-- INFO -->
            <div class="nav__foot">
                <ul class="row" >
                        <div class="col-lg-4 col-12">
                            <li>HORARIO DE ATENCION <br> LUN A VIE 10 A 14HS</li>
                        </div>
                
                        <div class="col-lg-4 col-12">
                            <li>AYUDA</li>
                        </div>
                
                        <div class="col-lg-4 col-12">
                            <li>TERMINOS Y CONDICIONES</li>
                        </div>
                </ul>
        
                <h2 class="textcenter" >Encuentranos</h2>
                <section class="nav__foot">
                    <ul class="row" >
                        <div class="col-lg-6 col-12" >
                            <li><img class="redes" src="../assets/img/instagram.jpg" alt="">Instagram: ejemplonombre1</li>
                        </div>

                        <div class="col-lg-6 col-12" >
                            <li><img class="redes" src="../assets/img/whatsapp.jpg" alt="">Whatsapp: 3811231234</li>
                        </div>
        
                    </ul>
                </section>
            </div>
        
                <iframe 
                src="https://www.google.com/maps/embed?pb=!1m26!1m12!1m3!1d14244.30329254826!2d-65.2293330686537!3d-26.805714230778857!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m11!3e6!4m3!3m2!1d-26.7925614!2d-65.22634459999999!4m5!1s0x94225c40b132123d%3A0x2b7b7d08797f689c!2sGRAFICA%20LOZA%2C%20Dr%2C%20Marcos%20Paz%201371%2C%20T4000%20San%20Miguel%20de%20Tucum%C3%A1n%2C%20Tucum%C3%A1n!3m2!1d-26.8186844!2d-65.21590309999999!5e0!3m2!1ses!2sar!4v1643176928041!5m2!1ses!2sar"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        

        </footer>
        <!--Cierre footer-->
    </div>
</div>
<!--JS BOOTSTRAP-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
crossorigin="anonymous"></script>
</body>

</html>